.app {

}


.app-main {
  display: flex;
}


.app-left {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
}

.app-right {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
  background: #F8FBFD;
  min-height: 80vh;
}

@media screen and (max-width: 480px) {
  .app-main {
    display: flex;
    flex-direction: column-reverse;
  }
  .app-left {
    display: flex;
    justify-content: center;
  }
  .app-right {
    display: flex;
    justify-content: center;
    background: #F8FBFD;
    min-height: 49.8vh;
  }
}