.form {
  width: 480px;
  margin-top: 3rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-textarea {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.form-input {
  width: 2.5rem;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.form-emoji {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {

  .form {
    width: 100%;
    margin-top: 3rem;
  }

  .form-label {
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 4.26%;
  }
  .form-text-label-mobile {
    margin-left: 5.33%;
  }
  .form-textarea {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    font-size: 1.25rem;
    padding: 1rem;
    background: rgba(222, 237, 247, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 89.33%;
  }

  .form-input {
  width: 2.5rem;
  margin-left: 4.26%;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.form-emoji {
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-sizing: border-box;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 89.33%;
}
}